@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500&display=swap");

html,
body {
  margin: 0px;
}

mat-grid-tile {
  background: lightblue;
}

mat-grid-list {
  height: 100vh;
}

mat-grid-tile.inner {
  background: #ccc;
}
